<!-- views/partials/head.ejs -->
<title>Header Title</title>




</head>Logged in as: <%= newUser.id%></head>


<ul>
        <% if (newUser.id !== "Not Signed in") { %>

          <form method="POST" action="/logout"><input type="submit" value="Logout"
      name="Logout" id="Logout" /></form>
        <% }; %>

</ul>

<form method="GET" action="/register"><button type="submit">Register</button></form>

</br>
<form method="GET" action="/login"><button type="submit">Login</button></form>