<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
    <% include ./partials/_header %>
</header>
<body>
<main>
    <div class="jumbotron">
        <ul>
        <form method="POST" action="/register">


              <label>Enter email:</label>
              <input type="email" name="email">

            </br>

              <label>Enter Password:</label>
              <input type="password" name="password">
            </br>
              <button type="submit">Submit</button>


        </form>
        </ul>
    </div>
</main>

</body>
</html>

