<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <main>
    <div class="jumbotron">
        <h1>This is a list of URLs shortened</h1>
        <h2>Loop</h2>
        <ul>
        <% for (url in temlateVars) { %>
        <li><%= url%> - <%= temlateVars[url]%></li>
        <% }; %>
        </ul>
    </div>
</main>

</body>
</html>
