<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <%-include ./partials/_header %>
</header>
<body>
    <main>
    <div class="jumbotron">
        <h1>The full URL and its shortened form</h1>
    </div>
</main>

</body>
</html>
