<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
    <% include ./partials/_header %>
</header>
<body>
<main>
    <div class="jumbotron">
        <h1>This is a list of URLs shortened</h1>
        <ul>
        <% for (url in urlDatabase) { %>
        <li><%= url%> - <%= urlDatabase[url]%>
          <form method="POST" action="/urls/<%= url%>/delete"><input type="submit" value="Delete"
      name="Delete" id="delete" /></form>
      <form method="GET" action="/urls/<%=url%>>"><button type="submit">Edit</button></form>
        <% }; %></li>
        </ul>
    </div>
</main>

</body>
</html>

