<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
    <%- include ./partials/_header %>
</header>
<body>
<main>
    <div class="jumbotron">
        <h1>This is a list of URLs shortened</h1>

        <h2>Loop</h2>
        <ul>
        <% for (url in templateVars) { %>
        <li><%= url%> - <%= templateVars[url]%>
          <form method="POST" action="/urls/9sm5xK/delete"><input type="submit" value="Delete"
      name="Delete" id="delete" /></form>
        <% }; %>

        </ul>
    </div>
</main>

</body>
</html>

